//colors
$bg-color: #000000;
$color-white: #ffffff;
$color-grey: #696969;
$color-yellow: #e0f033;
$color-red: rgba(224, 240, 51, 0.1);
$main-Gradient: linear-gradient(
  90deg,
  #fe0074 4.69%,
  #b16bff 49.86%,
  #20bffc 100%
);
